C:\Users\ShonrajBallae\OneDrive - Protiviti Member Firm\Documents\learning_and_projects\ZS\zs_ai_participants\notebook\00_environment_setup_trainer_annotated.ipynb
C:\Users\ShonrajBallae\OneDrive - Protiviti Member Firm\Documents\learning_and_projects\ZS\zs_ai_participants\notebook\01_llm_foundations_trainer_annotated.ipynb
C:\Users\ShonrajBallae\OneDrive - Protiviti Member Firm\Documents\learning_and_projects\ZS\zs_ai_participants\notebook\02_prompt_engineering_cost_design_trainer_annotated.ipynb