notebook/Phase_1/*_trainer_annotated.ipynb
notebook/Phase_2/.env
notebook/Phase_1/02_prompt_engineering_cost_design_trainer_annotated.ipynb
requirements.txt
*.pptx
#*.docx
ZS_AI_Engineering_RAG_Agentic_Systems_WI.docx