transformers
datasets
accelerate
peft
sentence-transformers
langchain==0.2.14
langchain-core==0.2.41
langchain-openai==0.1.20
langchain-community==0.2.12
langchain-experimental==0.0.34
langchain-text-splitters==0.2.0
openai>=1.30.0
python-dotenv
requests
tiktoken==0.7.0
pypdf
docx2txt
python-docx
docling
docling-core
rank-bm25
nltk
easyocr
numpy
pandas
matplotlib
psutil
urllib3
botocore
fsspec
ipykernel==6.29.5
pandas